{{define "didyouknow"}}
<!-- <div class="didyouknow">
    <h2 class="dyk-title">Did You Know</h2>
    <div class="dyk-container">
        <p class="dyk-item">Something truly amazing<p>
        <div class="flex">
            <img src="/resources/images/placeholders/arrow-placeholder.png" alt="arrow" class="dyk-icon"/>
            <img src="/resources/images/placeholders/dot-placeholder.png" alt="dot" class="dyk-icon"/>
            <img src="/resources/images/placeholders/dot-placeholder.png" alt="dot" class="dyk-icon"/>
            <img src="/resources/images/placeholders/dot-placeholder.png" alt="dot" class="dyk-icon"/>
            <img src="/resources/images/placeholders/dot-placeholder.png" alt="dot" class="dyk-icon"/>
            <img src="/resources/images/placeholders/arrow-placeholder.png" alt="arrow" class="dyk-icon"/>
        </div>
    </div>
</div>
 -->{{end}}
