{{define "didyouknow"}}
<div class="didyouknow">
    <h1 class="dyk-title">Did You Know</h1>
    <p class="dyk-item">Something truly amazing<p>
    <div class="flex">
        <img src="/resources/images/placeholders/arrow-placeholder.png" alt="arrow" class="dyk-icon"/>
        <img src="/resources/images/placeholders/dot-placeholder.png" alt="dot" class="dyk-icon"/>
        <img src="/resources/images/placeholders/dot-placeholder.png" alt="dot" class="dyk-icon"/>
        <img src="/resources/images/placeholders/dot-placeholder.png" alt="dot" class="dyk-icon"/>
        <img src="/resources/images/placeholders/dot-placeholder.png" alt="dot" class="dyk-icon"/>
        <img src="/resources/images/placeholders/arrow-placeholder.png" alt="arrow" class="dyk-icon"/>
    </div>
</div>
{{end}}
