/* RESET *//
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* END RESET */

* {
    -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
}

html {
    min-height: 100%;
    position: relative;
}

body {
    /* https://www.google.com/fonts#QuickUsePlace:quickUse */
    /* Font linked in head of html */
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    margin: 0 0 3rem;
}

a, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none; /* no underline */
    outline: none;
}

h3 {
    font-size: 1.3rem;
    margin: 0.5rem 0;
}


.flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content-splash {
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 60vh;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.splash-info {
    max-width: 30vw;
    color: white;
    font-size: 1.5rem;
}

.pdf-label:hover {
    color: red;
    cursor: pointer;
}

.mobile {
    display: none;
}

@media (max-width: 980px) {
    .content-splash {
        height: 40vh;
    }

    .splash-info {
        max-width: 50vw;
        text-align: center;
        font-size: 1.8rem;
    }
}

/*** base.html ***/

header {
    background-image: linear-gradient(to top, black, #222);
    color: white;
}

header > div {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.7rem;
}

.info-bar {
    margin-bottom: 0.5rem;
}

.info-bar > div {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
}

.info-bar > div hr {
    visibility: hidden;
    margin: 0.2rem 0;
}

.info-bar > div:first-child {
    text-align: right;
    width: 25rem;
}

.info-bar > div:nth-child(2) {
    padding: 0 1rem;
}

.info-bar div:last-child {
    width: 25rem;
}

.header-logo {
    height: 5rem;
    width: 5rem;
}

.header-separator {
    border: 0;
    height: 2.5px;
    margin: 0;
    background-image: linear-gradient(to right, #111, white, #111);
    width: 100%;
}

@media (max-width: 980px) {
    header > div {
        font-size: 2rem;
    }

    .info-bar {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
    }

    .header-logo {
        height: 7rem;
        width: 7rem;
    }

    .header-separator {
        height: 2px;
    }
}

.nav-bar ul {
    list-style-type: none;
    padding-left: 0;
    flex-wrap: wrap;
    margin: 0;
    padding: 0.7rem;
}

.nav-bar li {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-bar a {
    color: white;
    font-size: 1.2rem;

    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -o-transition:  color 0.2s;
    -moz-transition:  color 0.2s;
}

.nav-bar a:hover {
    color: #F20;

    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -o-transition:  color 0.2s;
    -moz-transition:  color 0.2s;
}

.nav-dropdown {
    display: none;
    margin-top: 0;
    min-width: 160px;
    padding-top: 0.8rem;
    position: absolute;
    z-index: 99;
}

.nav-dropdown a {
    display: block;
    padding: 11px 14px;

    background-color: black;
    border-bottom: 1px solid #444;
    color: #CCC;
    font-size: 1.2rem;
    text-decoration: none;

    transition: color 0s;
    -webkit-transition: color 0s;
    -o-transition:  color 0s;
    -moz-transition:  color 0s;
}

.nav-dropdown a:last-child {
    border-bottom: none;
}

.nav-dropdown a:hover {
    color: white;
    transition: color 0s;
    -webkit-transition: color 0s;
    -o-transition:  color 0s;
    -moz-transition:  color 0s;
}

.nav-dropdown:hover {
    display: block;
}

.mobile-nav-bar {
    display: none;
}

.mobile-nav-bar ul {
    display: none;
    list-style-type: none;
    flex-direction: column;
    margin: auto;
    padding-left: 0;
}

.mobile-nav-bar li {
    padding: 1rem;
    text-align: center;
}

.mobile-nav-bar a {
    color: white;
    font-size: 2rem;
}

.mobile-nav-controller {
    width: 100%;
    display: flex;
    align-items: center;
}

.mobile-nav-controller img {
    height: 1.5rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 980px) {
    .nav-bar {
        display: none;
    }

    .mobile-nav-bar {
        display: block;
    }
}

footer {
    bottom: 0;
    display: flex;
    height: 3rem;
    left: 0;
    margin-top: auto;
    position: absolute;
    width: 100%;

    background: black;
    color: white;
}

@media (max-width: 980px) {
    footer {
        height: 7rem;
        font-size: 2em;
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
}

footer > div {
    display: flex;
    margin: 0 1rem;
}

footer > div > p {
    padding: 0 0.2rem;
}



/*** home.html ***/

.home-splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/images/main-backdrop.jpg");
    flex-direction: column;
    height: 100%;
}

.home-splash h1 {
    font-size: 3.5rem;
    margin: 1rem;
}

.home-splash h2 {
    font-size: 2.2rem;
    margin: 1rem;
}

.home-splash h3 {
    font-size: 2rem;
    margin: 1rem;
}

.home-splash img {
    height: 12rem;
    margin: 1rem;
}

.home .content-info > div {
    margin: 4rem;
    width: 20rem;
}

@media (max-width: 980px) {
    .home-splash h1 {
        font-size: 4.5rem;
    }

    .home-splash h2 {
        font-size: 2.6rem;
    }

    .home-splash h3 {
        font-size: 2.3rem;
    }

    .home-splash img {
        height: 12rem;
    }

    .home .content-info {
        flex-direction: column;
    }

    .home .content-info > div {
        margin-bottom: 0;
        width: 80%;
    }

    .home .content-info div:last-child {
        margin-bottom: 10rem;
    }
}


/*** committee.html ***/

.directors-splash {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/images/placeholders/committee-backdrop-placeholder.jpg");
    background-position: center;
    padding: 3rem 5rem;
    border-bottom: 0.1rem solid black;
}

.director {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.director h3 {
    font-size: 1.4rem;
}

.directors-splash img {
    height: 18rem;
    margin-right: 4rem;
    border: 0.5rem solid black;
}

.directors-listing {
    flex-wrap: wrap;
    font-size: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.directors-mini {
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.directors-mini-title {
    width: 100%;
    margin: 0;
    text-align: center;
}

.directors-mini img {
    border: 0.5rem solid black;
    height: 12rem;
    box-shadow: 10px 10px 5px #888888;

    transition: .2s;
    -webkit-transition: .2s;
    -o-transition:  .2s;
    -moz-transition:  .2s;
}

.directors-mini img:hover {
    border: 0.5rem solid yellow;
    cursor: pointer;
    -webkit-filter: brightness(110%);

    transition: .2s;
    -webkit-transition: .2s;
    -o-transition:  .2s;
    -moz-transition:  .2s;
}

.directors-mini-name {
    width: 100%;
    margin: 0;
    position: relative;
    right: -1.5rem;
    bottom: 1.5rem;

    display: flex;
    justify-content: flex-end;
    text-align: left;
}

.directors-mini-name h2 {
    color: white;
    background: #60150B;
    margin: 0;
    padding: 0.5rem 1rem;
    border: 0.19rem solid black;
    box-shadow: 10px 10px 5px #888888;
    transition: .2s;
    -webkit-transition: .2s;
    -o-transition:  .2s;
    -moz-transition:  .2s;
}

@media (max-width: 980px) {
    .directors-splash {
        padding: 0;
    }

    .directors-splash h3 {
        font-size: 2rem;
    }

    .director p {
        width: 100%;
    }

    .directors-listing {
        margin-bottom: 10rem;
    }
}

/*** uofc.html ***/

.uc-splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/images/uc-backdrop.jpg");
}

.uc-splash img {
    height: 20rem;
}

.uc-info p {
    margin-left: 5em;
}

.uc-content {
    flex-direction: column;
    margin: 1rem;
    margin-bottom: 4rem;
}

.uc-content > div {
    margin: 2rem;
}

@media (max-width: 980px) {
    .uc-info p {
        margin-left: 2em;
    }
    .uc-content {
        margin-bottom: 10rem;
    }
}

/*** calgary.html ***/

.calgary-splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/images/calgary-backdrop.jpg");
}

.calgary-splash img {
    height: 20rem;
}

.calgary-info p {
    margin-left: 5em;
}

.calgary-content {
    flex-direction: column;
    margin: 1rem;
    margin-bottom: 4rem;
}

.calgary-content > div {
    margin: 2rem;
}

@media (max-width: 980px) {
    .calgary-info p {
        margin-left: 2em;
    }

    .calgary-content {
        margin-bottom: 10rem;
    }
}

/*** hotel.html ***/

.hotel-splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/images/radisson-backdrop.jpg");
}

.hotel-splash img {
    width: 20rem;
}

.hotel-info p {
    margin-left: 5em;
}

.hotel-content {
    flex-direction: column;
    margin: 3rem;
    margin-bottom: 6rem;
}

@media (max-width: 980px) {
    .hotel-info p {
        margin-left: 2em;
    }
}

/*** competitions.html ***/

.competitions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 100%;
}

.competitions-nav ul {
    flex-wrap: wrap;
    font-size: 1.3rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.competitions-nav hr {
    display: none;
}

.competitions-nav li {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    text-align: center;
    white-space: nowrap;

    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -o-transition:  color 0.2s;
    -moz-transition:  color 0.2s;
}

.competitions-nav li:hover {
    color: red;
    cursor: pointer;

    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -o-transition:  color 0.2s;
    -moz-transition:  color 0.2s;
}

.competitions hr {
    width: 100%;
    border: 0;
    height: 2.5px;
    margin: 0;
    background-image: linear-gradient(to right, white, black, white);
}

.competition-info-container {
    padding: 0;
    position: relative;
    margin-top: 0.7rem;
    width: 40vw;
}

.competition-info {
    opacity: 0;
    left: 0;
    position: absolute;
    top: 0;

    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition:  opacity 0.5s;
    -moz-transition:  opacity 0.5s;
}

.competition-splash {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    height: 20vw;
    width: 40vw;
    color: white;
}

.competitions-general .competition-splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/images/competitions-general.jpg")
}
.senior-design .competition-splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/images/senior-design.jpg")
}
.junior-design .competition-splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/images/junior-design.jpg")
}
.innovative-design .competition-splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/images/innovative-design.jpg")
}
.re-engineering .competition-splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/images/re-engineering.jpg")
}
.engineering-communication .competition-splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/images/engineering-communication.jpg")
}
.consulting .competition-splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/images/consulting.jpg")
}
.extemporaneous-debate .competition-splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/images/extemporaneous-debate.jpg")
}
.competition-splash h2 {
    font-size: 2rem;
    margin: 0;
    padding: 1.5rem;
}

.competition-blurb {
    padding-top: 1rem;
    font-size: 1.3rem;
    text-align: center;
}

@media (max-width: 980px) {
    .competitions {
        flex-direction: column-reverse;
    }

    .competitions-nav {
        width: 100%;
        margin-bottom: 4.1rem;
    }

    .competitions-nav ul {
        flex-direction: column;
        font-size: 2.8rem;
    }

    .competitions-nav hr {
        display: block;
    }

    .competitions-nav hr:last-child {
        display: none;
    }

    .competition-info-container {
        width: 100%;
        margin-top: 0;
    }

    .competition-splash {
        height: 60vw;
        width: 100vw;
    }

    .competition-splash h2 {
        font-size: 4rem;
    }

    .competition-blurb {
        padding: 2rem;
        font-size: 2rem;
        text-align: center;
    }
}


/*** sponsors.html ***/

.sponsors h1 {
    font-family: 'Cinzel', serif;
    margin: 0;
    margin-top: 2rem;
    padding: 1rem 1rem 0.5rem 1rem;
    text-align: center;
    font-size: 2.2rem;
}

.sponsors h1 + hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 80%
}

.sponsors-container {
    flex-direction: column;
}

.lead-sponsors {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/images/sponsorship-backdrop.jpg");
    display: flex;
    flex-direction: column;
}

.lead-sponsors img {
    height: 10rem;
    margin: 1rem 3rem;
}

.lead-sponsors h1 {
    font-size: 3rem;
    margin: 5rem;
    margin-top: 0;
}

.gold-sponsors img {
    height: 6rem;
    margin: 1rem;
}

.silver-sponsors img {
    height: 3rem;
    margin: 1rem;
}

.bronze-sponsors {
    font-size: 0.8rem;
    margin-bottom: 8rem;
}

.bronze-sponsors img {
    height: 1rem;
    margin: 0.3rem;
    margin-left: 4rem;
}

.bronze-sponsors img:first-child {
    margin-left: 0.3rem;
}

@media (max-width: 980px) {
    .sponsors {
        margin-bottom: 10rem;
    }

    .sponsors .content-splash {
        height: 40vh;
    }
}

/*** sponsor_package.html ***/

.sponsor-package {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    padding-bottom: 1rem;
    min-width: 50rem;
    width: 50%;
}

.sponsor-package h1 {
    width: 100%
}

.sponsor-package p {
    font-size:  1.3rem;
}

#sponsorship-package-pdf {
    width: 40rem;
    height: 54rem;
}

.sponsorship-package-label-mobile {
    display: none;
    font-size: 1.6rem;
    color: #F20;
    width: 100%
    margin: 2rem;
}

@media (max-width: 980px) {
    #sponsorship-package-pdf {
        display: none;
    }

    .sponsorship-package-label-mobile {
        display: block;
    }
}

/*** attending.html ***/

.attending {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    min-width: 50rem;
    padding-bottom: 1rem;
    width: 50%;
}

.attending p {
    font-size: 1.3rem;
}

.attending .dropdown-arrow {
    -webkit-transition: transform 0.1s; /* Transform edited in attending.js */
    -o-transition:  transform 0.1s; /* Transform edited in attending.js */;
    -moz-transition:  transform 0.1s; /* Transform edited in attending.js */;
    height: 1.5rem;
    margin: auto;
    transition: transform 0.1s;
}

.download-title {
    width: 100%;
    text-transform: uppercase;
}

#delegate-package-pdf {
    width: 40rem;
    height: 54rem;
    display: none;
}

#official-rulebook-pdf {
    width: 40rem;
    height: 54rem;
    display: none;
}

.delegate-package-label-mobile, .official-rulebook-label-mobile {
    display: none;
    font-size: 1.6rem;
    color: #F20;
    width: 100%;
    margin: 2rem;
}

@media (max-width: 980px) {
    .attending {
        text-align: center;
    }

    .delegate-package-label-mobile, .official-rulebook-label-mobile {
        display: block;
    }

    .pdf-label {
        display: none;
    }


    #delegate-package-pdf, #official-rulebook-pdf {
        display: none;
    }
}

/*** contact.html ***/

.contact-splash {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/resources/images/placeholders/contact-backdrop-placeholder.jpg");
    font-size: 1.1rem;
}

.contact-splash a {
    color: #F20;
}


.contact-splash a:hover {
    color: #F64;
}

.contact-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.contact-content h2 {
    margin: 0;
    padding: 1rem 2rem;
}

.contact-form {
    display: flex;
    font-size: 1rem;
    padding: 0.5rem;
}

.contact-left {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

input[type="text"], input[type="email"] {
    border: none;
    border-bottom: 0.1rem solid lightgrey;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    color: #444;
    margin-bottom: 1rem;
    margin-right: 2px; /* match recaptcha */
    padding: 0.3rem;
    outline: none;
    background-color: white;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -o-transition:  background-color 1s;
    -moz-transition:  background-color 1s;
}

.contact-form textarea {
    padding: 0.5rem;
    border-radius: 2px;
    border: 0.1rem solid lightgrey;
    background-color: white;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    color: #444;
    height: 15rem;
    width: 23.8rem;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -o-transition:  background-color 1s;
    -moz-transition:  background-color 1s;
    outline: none;
}

.contact-right {
    width: 25rem;
}

.submit-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}

.contact-error {
    color: red;
    padding: 0.6rem;
    font-size: 0.9rem;
    margin: 0;
    margin-top: 1rem;
    box-shadow: 1px 1px 1px white;
    -webkit-box-shadow: 1px 1px 1px white;
    -moz-box-shadow: 1px 1px 1px white;
    text-shadow: 1px 1px 1px white;
}

input[type="submit"] {
    padding: 0.6rem 2rem 0.6rem 2rem;
    background: #F00;
    font-size: 0.9rem;
    border: none;
    border-radius: 2px;
    color: #FFF;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 1px 1px 1px #5079A3;
    margin-top: 1rem;
    outline: 0;
}

input[type="submit"]:hover {
    background: #F42;
    cursor: pointer;
}

input[type="submit"]:active {
    box-shadow: 0px 0px 1px #4C6E91;
    -webkit-box-shadow: 0px 0px 1px #4C6E91;
    -moz-box-shadow: 0px 0px 1px #4C6E91;
    text-shadow: 0px 0px 1px #5079A3;
    background: #D00;
}

.contact-sent {
    display: none;
    font-size: 1rem;
    margin-top: 1.4rem;
    height: 1.8rem;
}

@media (max-width: 980px) {
    .contact-form {
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-bottom: 5rem;
    }

    input[type="text"], input[type="email"], input[type="submit"], .contact-form textarea {
        width: 100%;
        font-size: 3rem;
        margin-bottom: 2.5rem;
        text-align: center;
    }

    .contact-left {
        width: 100%;
    }

    input[type="submit"] {
        width: 50%;
        float: none;
    }

    .g-recaptcha {
        margin: auto;
        margin-top: 2.5rem;
        margin-bottom: 5rem;
        transform: scale(2.0);
    }

    .contact-form textarea {
        width: 95%;
        height: 20rem;
    }

    .contact-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .submit-area {
        flex-direction: column-reverse;
        align-items: center;
    }

    .contact-error {
        font-size: 3rem;
        text-align-last: center;
    }

    .contact-sent {
        margin-bottom: 8rem;
        height: 5rem;
        font-size: 3rem;
        text-align: center;
        width: 80%;
    }

}


/*** faq.html ***/

.faq {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 10rem;
    min-width: 50rem;
    padding-bottom: 1rem;
    text-align: center;
    width: 20%;
}

/*** location.html ***/

.location {
    color: white;
    box-shadow: 10px 10px 5px #888888;
    width: 60vw;
    height: 30vw;
    border: 0.2rem solid #444;
    -webkit-border-image: -webkit-gradient(linear, left top, right bottom, from(#999), to(#DDD)) 1 ;
}

.location iframe {
    background-image: url("/resources/images/loading.gif");
    background-color: #DDD;
    background-repeat: no-repeat;
    -moz-background-size: 5rem;
    -o-background-size: 5rem;
    -webkit-background-size: 5rem;
    background-size: 5rem;
    background-position: center;
    width: 60vw;
    height: 30vw;
}

.location-title {
    position: relative;
    top: -1rem;
    left: -5rem;
    background: #60150B;
    margin: 0;
    width: 9rem;
    padding: 0.5rem 1rem;
    border: 0.2rem solid black;
}

@media (max-width: 980px) {
    .location {
        width: 80vw;
        height: 50vw;
    }

    .location iframe {
        width: 80vw;
        height: 50vw;
    }
}
