{{define "base"}}
<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/ html;charset=utf-8" />
    <title>CEC 2017</title>
    <!-- https://www.google.com/fonts#QuickUsePlace:quickUse -->
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Oxygen|Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/resources/css/stylesheet.css">
    <script src="/resources/js/base.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83769615-1', 'auto');
      ga('send', 'pageview');
    </script>
</head>
<body>
    <header>
        <div class="info-bar flex">
            <div>
                CANADIAN ENGINEERING
                <hr>
                COMPETITION 2017
            </div>
            <div>
                <a href="/home">
                    <img src="/resources/images/logo.png" alt="CEC2017 Logo" class="header-logo" />
                </a>
            </div>
            <div>
                JUNE 7TH - 13TH, 2017
                <hr>
                CALGARY, AB
            </div>
        </div>
        <hr class="header-separator">
        <div class="nav-bar">
            <ul class="flex">
                <li>
                    <a href="/home">CEC 2017</a>
                    <div class="nav-dropdown">
                        <a href="/home/committee">Planning Committee</a>
                        <a href="/home/uofc">University of Calgary</a>
                        <a href="/home/calgary">Calgary</a>
                        <a href="/home/hotel">Hotel</a>
                    </div>
                </li>
                <li>
                    <a href="/competitions">COMPETITIONS</a>
                    <div class="nav-dropdown">
                        <a href="/competitions?senior-design">Senior Design</a>
                        <a href="/competitions?junior-design">Junior Design</a>
                        <a href="/competitions?innovative-design">Innovative Design</a>
                        <a href="/competitions?re-engineering">Re Engineering</a>
                        <a href="/competitions?engineering-communication">Engineering Communication</a>
                        <a href="/competitions?consulting">Consulting</a>
                        <a href="/competitions?extemporaneous-debate">Extemporaneous Debate</a>
                    </div>
                </li>
                <li>
                    <a href="/sponsors">SPONSORSHIP</a>
                    <div class="nav-dropdown">
                        <a href="/sponsors#">Our Sponsors</a>
                        <a href="/sponsors/package">Sponsorship Package</a>
                    </div>
                </li>
                <li>
                    <a href="/attending">ATTENDING</a>
                </li>
                <li>
                    <a href="/contact">CONTACT US</a>
                    <div class="nav-dropdown">
                        <a href="/contact?contact">Contact Us</a>
                        <a href="/contact/faq">FAQ</a>
                    </div>
                </li>
                <!--
                <li class="francais-link">
                    <a href="/">FRANCAIS</a>
                </li>
                -->
            </ul>
        </div>
        <div class="mobile-nav-bar">
            <ul class="flex">
                <li>
                    <a href="/home/committee">PLANNING COMMITTEE</a>
                </li>
                <hr class="header-separator">
                <li>
                    <a href="/home/uofc">UNIVERSITY OF CALGARY</a>
                </li>
                <hr class="header-separator">
                <li>
                    <a href="/home/calgary">CALGARY</a>
                </li>
                <hr class="header-separator">
                <li>
                    <a href="/home/hotel">HOTEL</a>
                </li>
                <hr class="header-separator">
                <li>
                    <a href="/competitions">COMPETITIONS</a>
                </li>
                <hr class="header-separator">
                <li>
                    <a href="/sponsors">SPONSORS</a>
                </li>
                <hr class="header-separator">
                <li>
                    <a href="/sponsors/package">SPONSORSHIP PACKAGE</a>
                </li>
                <hr class="header-separator">
                <li>
                    <a href="/attending">ATTENDING</a>
                </li>
                <hr class="header-separator">
                <li>
                    <a href="/contact">CONTACT US</a>
                </li>
                <hr class="header-separator">
                <li>
                    <a href="/contact/faq">FAQ</a>
                </li>
                <hr class="header-separator">
                <!--
                <li class="francais-link">
                    <a href="/">FRANCAIS</a>
                </li>
                <hr class="header-separator">
                -->
            </ul>
            <div class="mobile-nav-controller">
                <img src="/resources/images/down-arrow.png">
            </div>
       </div>
    </header>
    <hr class="header-separator">
    {{template "content" .}}
    <footer>
        <div>
            <p>Email:</p><p>christinecao@fixthis.com</p>
        </div>
        <div>
            <p>Phone:</p><p>(403)911-911</p>
        </div>
    </footer>
</body>
</html>
{{end}}
