{{define "base"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>CEC 2017</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/stylesheet.css">
    <!-- https://www.google.com/fonts#QuickUsePlace:quickUse -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
</head>
<body>
    <header>
        <div id="info-bar">
            <div class="info-bar-div" id="header-left-div">
                <p>CANADIAN ENGINEERING</p>
                <p>COMPETITION 2017</p>
            </div>
            <div class="info-bar-div" id="header-mid-div">
                <a href="/">
                    <img src="/resources/images/placeholder-logo.png" alt="CEC2017 Logo" class="cec2017-logo" id="header-logo" />
                </a>
            </div>
            <div class="info-bar-div" id="header-right-div">
                <p>June 7 2017 - June 13 2017</p>
                <p>CALGARY, AB</p>
            </div>
        </div>
        <div id="nav-bar">
            <ul>
                <li class="cec-2017-link">
                    <a href="/home">CEC 2017</a>
                    <div class="nav-dropdown" id="home-dropdown">
                        <a href="/home/committee">Planning Committee</a>
                        <a href="/home/uofc">University of Calgary</a>
                        <a href="/home/calgary">Calgary</a>
                        <a href="/home/hotel">Hotel</a>
                    </div>
                </li>
                <li class="competitions-link">
                    <a href="/competitions">COMPETITIONS</a>
                    <div class="nav-dropdown" id="home-dropdown">
                        <a href=/competitions/senior-design>Senior Design</a>
                        <a href=/competitions/junior-design>Junior Design</a>
                        <a href=/competitions/innovative-design>Innovative Design</a>
                        <a href=/competitions/re-engineering>Re Engineering</a>
                        <a href=/competitions/engineering-communication>Engineering Communication</a>
                        <a href=/competitions/consulting>Consulting</a>
                        <a href=/competitions/extemporaneous-debate>Extemporaneous Debate</a>
                    </div>
                </li>
                <li class="sponsorship-link">
                    <a href="/sponsorship/our-sponsors">SPONSORSHIP</a>
                    <div class="nav-dropdown" id="home-dropdown">
                        <a href="/sponsorship/our-sponsors">Our Sponsors</a>
                        <a href="/sponsorship/sponsorship-package">Sponsorship Package</a>
                    </div>
                </li>
                <li class="attending-link">
                    <a href="/attending">ATTENDING</a>
                    <div class="nav-dropdown" id="home-dropdown">
                        <a href="/attending">Planning Committee</a>
                        <a href="/attending/registration-and-payment">Registration and Payment</a>
                    </div>
                </li>
                <li class="contact-us-link">
                    <a href="/contact">CONTACT US</a>
                    <div class="nav-dropdown" id="home-dropdown">
                        <a href="/contact">Contact Us</a>
                        <a href="/contact/faq">FAQ</a>
                    </div>
                </li>
                <li class="francais-link">
                    <a href="/">FRANCAIS</a>
                </li>
                <hr />
            </ul>
        </div>
    </header>
    <div class="content">
        {{template "content"}}
    </div>
    <footer>
        <div>
            <p>Email</p><p>christinecao@fixthis.com</p>
        </div>
        <div>
            <p>Phone</p><p>(403)911-911</p>
        </div>
    </footer>
</body>
</html>
{{end}}
