{{define "content"}}
<div class="calgary-splash content-splash flex">
    <img src="/resources/images/calgary-crest.png" alt="Calgary Crest" />
    <div class="splash-info calgary-info">
        <p>
            Calgary is the largest city in the Province of Alberta and it is situated where the Bow River and Elbow River meet. The landscape is full of foothills and prairie, with the Rocky Mountains to the West and the Prairies to the East. With a population of just over 1.2 million people, the City of Calgary is the 5th largest city in Canada.
            <br>
            Calgary was the first Canadian city to host the Winter Olympics in 1988 and annually hosts the Calgary Stampede that attracts           visitors from around the world. Calgary hot spots worth visiting include the Calgary Tower, Prince’s Island Park, the Devonian                  Gardens, the Bow (skyscraper), the Peace Bridge, the Saddledome and so much more. The city is full of vibrant multicultural           communities; some noteworthy areas include Kensington, Inglewood and Eau Claire.
        </p>
    </div>
</div>
<div class="calgary-content flex">
    {{template "didyouknow"}}
    {{template "location" .}}
</div>
{{end}}
