{{define "content"}}
<div class="directors-bar">
    <h1>Meet the Committee!</h1>
</div>
<div class="directors-main flex">
    <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" class="directors-img-main"/>
    <div class="directors-info">
        <h2 class="directors-name-main">Christine Cao</h2>
        <h2 class="directors-title">Committee Chair</h2>
        <h2 class="directors-phone">403-123-4567</h2>
        <h2 class="directors-email">something@example.com</h2>
        <p>
            This is a big blurb about christine.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
        </p>
    </div>
</div>
<div class="directors-listing flex">
    <div class="directors-mini">
        <h2>Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <h2>John Doe</h2>
    </div>
    <div class="directors-mini">
        <h2>Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <h2>John Doe</h2>
    </div>
    <div class="directors-mini">
        <h2>Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <h2>John Doe</h2>
    </div>
    <div class="directors-mini">
        <h2>Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <h2>John Doe</h2>
    </div>
    <div class="directors-mini">
        <h2>Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <h2>John Doe</h2>
    </div>
    <div class="directors-mini">
        <h2>Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <h2>John Doe</h2>
    </div>
    <div class="directors-mini">
        <h2>Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <h2>John Doe</h2>
    </div>
    <div class="directors-mini">
        <h2>Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <h2>John Doe</h2>
    </div>
    <div class="directors-mini">
        <h2>Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <h2>John Doe</h2>
    </div>
    <div class="directors-mini">
        <h2>Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <h2>John Doe</h2>
    </div>
</div>
{{end}}
