{{define "content"}}
<div class="directors-splash flex content-splash">
    <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
    <div class="splash-info">
        <h3>Christine Cao</h3>
        <h3>Committee Chair</h3>
        <h3>403-123-4567</h3>
        <h3>something@example.com</h3>
        <p>
            This is a big blurb about christine.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
        </p>
    </div>
</div>
<div class="directors-listing flex">
    <div class="directors-mini">
        <h2 class="directors-mini-title">Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <div class="directors-mini-name">
            <h2>John Doe</h2>
        </div>
    </div>
    <div class="directors-mini">
        <h2 class="directors-mini-title">Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <div class="directors-mini-name">
            <h2>John Doe</h2>
        </div>
    </div>
    <div class="directors-mini">
        <h2 class="directors-mini-title">Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <div class="directors-mini-name">
            <h2>John Doe</h2>
        </div>
    </div>
    <div class="directors-mini">
        <h2 class="directors-mini-title">Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <div class="directors-mini-name">
            <h2>John Doe</h2>
        </div>
    </div>
    <div class="directors-mini">
        <h2 class="directors-mini-title">Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <div class="directors-mini-name">
            <h2>John Doe</h2>
        </div>
    </div>
    <div class="directors-mini">
        <h2 class="directors-mini-title">Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <div class="directors-mini-name">
            <h2>John Doe</h2>
        </div>
    </div>
    <div class="directors-mini">
        <h2 class="directors-mini-title">Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <div class="directors-mini-name">
            <h2>John Doe</h2>
        </div>
    </div>
    <div class="directors-mini">
        <h2 class="directors-mini-title">Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <div class="directors-mini-name">
            <h2>John Doe</h2>
        </div>
    </div>
    <div class="directors-mini">
        <h2 class="directors-mini-title">Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <div class="directors-mini-name">
            <h2>John Doe</h2>
        </div>
    </div>
    <div class="directors-mini">
        <h2 class="directors-mini-title">Executive Manager</h2>
        <img src="/resources/images/directors-placeholder.jpg" alt="directors-member" />
        <div class="directors-mini-name">
            <h2>John Doe</h2>
        </div>
    </div>
</div>
{{end}}
