{{define "content"}}
<div class="directors-splash">
    {{range .}}
    <div class="director flex content-splash">
        <img src="{{.PicturePath}}" alt="directors-member" />
        <div class="splash-info">
            <h3>{{.Name}}</h3>
            <h3>{{.Role}}</h3>
            <h3>{{.Phone}}</h3>
            <h3>{{.Email}}</h3>
            <p>
                {{.Info}}
            </p>
        </div>
    </div>
    {{end}}
</div>
<div class="directors-listing flex">
    {{range .}}
    <div class="directors-mini">
        <h2 class="directors-mini-title">{{.Role}}</h2>
        <img src="{{.PicturePath}}" alt="directors-member" />
        <div class="directors-mini-name">
            <h2>{{.Name}}</h2>
        </div>
    </div>
    {{end}}
</div>
{{end}}
