{{define "content"}}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript" src="/resources/js/contact.js"></script>
<div class="contact-splash content-splash flex">
    <div class="splash-info">
        <p>
            Some shit about happy to hear from you.
            blah blah blah.
            Have you checked out the <a href="/contact/faq">FAQ</a>?
            Use the contact form.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
        </p>
    </div>
</div>
<div class="contact-content flex">
    <form class="contact-form" autocomplete="off">
        <div class="contact-left">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="school-organization" placeholder="School or Organization">
            <input type="email" name="return-email" placeholder="Email">
            <div class="g-recaptcha" data-sitekey="6Lce7SYTAAAAAIrX7phaDRlvkkJDzmzHWcGhS1GN"></div>
        </div>
        <div class="contact-right">
            <textarea name="message" cols=50 placeholder="Message"></textarea>
            <input type="submit" name="Submit" value="Submit">
        </div>
    </form>
    <div class="contact-sent">
        Thanks for contacting us, we'll get back to you soon!
    </div>
</div>
{{end}}
