{{define "content"}}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript" src="/resources/js/contact.js"></script>
<div class="contact-splash content-splash flex">
    <div class="splash-info">
        <p>
            {{.Blurb}}
        </p>
    </div>
</div>
<div class="contact-content flex">
    <form class="contact-form" autocomplete="off">
        <div class="contact-left">
            <input type="text" name="name" placeholder="{{.NameLabel}}">
            <input type="text" name="organization" placeholder="{{.SchoolLabel}}">
            <input type="email" name="return-email" placeholder="{{.EmailLabel}}">
            <div class="g-recaptcha" data-sitekey="6Lce7SYTAAAAAIrX7phaDRlvkkJDzmzHWcGhS1GN"></div>
            <input type="text" name="LeaveBlank" placeholder="LeaveBlank" style="position: absolute; top: 0; cursor: default; z-index: -5; width: 1vw"> <!-- Honeypot for spam -->
        </div>
        <div class="contact-right">
            <textarea name="message" cols=50 placeholder="{{.MessageLabel}}"></textarea>
            <div class="submit-area">
                <p class="contact-error"></p>
                <input type="submit" name="Submit" value="{{.SubmitLabel}}">
            </div>
        </div>
    </form>
    <div class="contact-sent">
        {{.ThankYou}}
    </div>
</div>
{{end}}
