{{define "content"}}
<div class="faq">
    <h1>FAQ</h1>
    <h2>Why is nothing working?</h2>
    <p>Well that's because of something something</p>
    <h2>Why is nothing working?</h2>
    <p>Well that's because of something something</p>
    <h2>Why is nothing working?</h2>
    <p>Well that's because of something something</p>
    <h2>Why is nothing working?</h2>
    <p>Well that's because of something something</p>
    <h2>Why is nothing working?</h2>
    <p>Well that's because of something something</p>
</div>
{{end}}
