{{define "content"}}
<div class="home">
    <div class="home-splash content-splash flex">
        <h3>{{.Location}}</h3>
        <h1>{{.Title}}</h1>
        <img src="/resources/images/themegraphic-white.png" alt="Theme Graphic" />
        <h2>{{.Date}}</h2>
        <h2>{{.School}}</h2>
    </div>
    <div class="content-info flex">
        <div>
            <h2>{{.About}}</h2>
            <p>
                {{.AboutBlurb}}
            </p>
        </div>
        <div>
            <h2>{{.Sponsorship}}</h2>
            <p>
                {{.SponsorshipBlurb}}
            </p>
        </div>
        <div>
            <h2>{{.Registration}}</h2>
            <p>
                {{.RegistrationBlurb}}
            </p>
        </div>
    </div>
</div>
{{end}}
