{{define "content"}}
<div class="hotel-splash content-splash flex">
    <img src="/resources/images/radisson-logo.png" alt="Hotel Logo" />
    <div class="splash-info hotel-info">
        <p>
            This is a blurb about the hotel.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
        </p>
    </div>
</div>
<div class="hotel-content flex">
    {{template "location" .}}
</div>
{{end}}
