<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>CEC 2017</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/stylesheet.css">
    <!-- https://www.google.com/fonts#QuickUsePlace:quickUse -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
</head>
<body>
    <header>
        <div id="info-bar">
            <div class="info-bar-div" id="header-left-div">
                <p>CANADIAN ENGINEERING</p>
                <p>COMPETITION 2017</p>
            </div>
            <div class="info-bar-div" id="header-mid-div">
                <a href="/">
                    <img src="/resources/images/placeholder-logo.png" alt="CEC2017 Logo" class="cec2017-logo" id="header-logo" />
                </a>
            </div>
            <div class="info-bar-div" id="header-right-div">
                <p>June 7 2017 - June 13 2017</p>
                <p>CALGARY, AB</p>
            </div>
        </div>
        <div id="nav-bar">
            <ul>
                <li class="cec-2017-link">
                    <a href="/">CEC 2017</a>
                </li>
                <li class="competitions-link">
                    <a href="/">COMPETITIONS</a>
                </li>
                <li class="sponsorship-link">
                    <a href="/">SPONSORSHIP</a>
                </li>
                <li class="attending-link">
                    <a href="/">ATTENDING</a>
                </li>
                <li class="contact-us-link">
                    <a href="/">CONTACT US</a>
                </li>
                <li class="francais-link">
                    <a href="/">FRANCAIS</a>
                </li>
                <hr />
            </ul>
        </div>
    </header>
    <div class="content">
        <div class="content-splash">
            <h3>Calgary, AB</h3>
            <h1>CEC 2017</h1>
            <img src="/resources/images/themegraphic-placeholder.jpg" alt="Theme Graphic" />
            <h2>June 7 2017 - June 13 2017</h2>
            <h2>University of Calgary</h2>
        </div>
        <div class="content-info">
            <div>
                <h2>ABOUT</h2>
                <p>
                    Hey you can find out more about this stuff.
                    Blah blah blah.
                    We can put something fun here.
                </p>
            </div>
            <div>
                <h2>SPONSORSHIP</h2>
                <p>
                    Please be our sponsor.
                    Seriously we're begging you.
                    Some links to sponsorship stuff.
                </p>
            </div>
            <div>
                <h2>REGISTRATION</h2>
                <p>
                    It'll be fun to register.
                    Seriously come register.
                    Here's some links to register and stuff.
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p>Email</p><p>christinecao@fixthis.com</p>
        </div>
        <div>
            <p>Phone</p><p>(403)911-911</p>
        </div>
    </footer>
</body>
</html>
