<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>CEC 2017</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/stylesheet.css">
    <!-- https://www.google.com/fonts#QuickUsePlace:quickUse -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="major-container" id="info-bar">
            <div class="info-bar-div" id="header-left-div">
                <p>CANADIAN ENGINEERING</p>
                <p>COMPETITION 2017</p>
            </div>
            <div class="info-bar-div" id="header-mid-div">
                <img src="/resources/images/placeholder-logo.png" alt="CEC2017 Logo" class="cec2017-logo" id="header-logo">
            </div>
            <div class="info-bar-div" id="header-right-div">
                <p>June 7 2017 - June 13 2017</p>
                <p>CALGARY, AB</p>
            </div>
        </div>
        <div class="major-container" id="nav-bar">
            <ul>
                <li class="cec-2017-link">
                    <a href="/">CEC 2017</a>
                </li>
                <li class="competitions-link">
                    <a href="/">COMPETITIONS</a>
                </li>
                <li class="sponsorship-link">
                    <a href="/">SPONSORSHIP</a>
                </li>
                <li class="attending-link">
                    <a href="/">ATTENDING</a>
                </li>
                <li class="contact-us-link">
                    <a href="/">CONTACT US</a>
                </li>
                <li class="francais-link">
                    <a href="/">FRANCAIS</a>
                </li>
                <hr />
            </ul>
        </div>
    </header>
</body>
</html>
