{{define "content"}}
<div class="sponsors">
    <div class="lead-sponsors sponsors-container content-splash flex">
        <h1>{{.Lead}}</h1>
        <div class="flex">
            {{range .LeadSponsors}}
            <img src="{{.ImgPath}}" alt="{{.Name}}" />
            {{end}}
        </div>
    </div>
    <div class="gold-sponsors sponsors-container flex">
        <h1>{{.Gold}}</h1>
        <hr>
        <div class="flex">
            {{range .GoldSponsors}}
            <img src="{{.ImgPath}}" alt="{{.Name}}" />
            {{end}}
        </div>
    </div>
    <div class="silver-sponsors sponsors-container flex">
        <h1>{{.Silver}}</h1>
        <hr>
        <div class="flex">
            {{range .SilverSponsors}}
            <img src="{{.ImgPath}}" alt="{{.Name}}" />
            {{end}}
        </div>
    </div>
    <div class="bronze-sponsors sponsors-container flex">
        <h1>{{.Bronze}}</h1>
        <hr>
        <div class="flex">
            {{range .BronzeSponsors}}
            <img src="{{.ImgPath}}" alt="{{.Name}}" />
            <h2>{{.Name}}</h2>
            {{end}}
        </div>
    </div>
</div>
{{end}}
