{{define "content"}}
<script type="text/javascript" src="/resources/lib/pdfobject.min.js"></script>
<div class="sponsor-package">
    <h1>Interested in sponsoring?</h1>
    <p>
        We are currently seeking sponsors for the upcoming 2017 Canadian Engineering Competition. Please feel free to contact our sponsorship team at sponsorship.cec2017@cfes.ca with any sponsorship related inquires. We look forward to creating a forum to showcase the incredible talents of the competitors with the support of our sponsors. Our sponsorship opportunities are outlined in the Sponsorship Package found on this website. Thanks for considering sponsoring this incredible national competition.
    </p>
    <h2 class="pdf-label">Sponsorship Package</h2>
    <div id="sponsorship-package-pdf"></div>
    <script>PDFObject.embed("/resources/hosted-files/placeholder.pdf", "#sponsorship-package-pdf");</script>
    <a class="sponsorship-package-label-mobile" href="/resources/hosted-files/placeholder.pdf">Sponsorship Package Download</a>
</div>
{{end}}
