{{define "content"}}
<div class="sponsors">
    <div class="lead-sponsors sponsors-container content-splash flex">
        <!-- <h1>{{.Lead}}</h1> -->
        <h1>Coming soon!</h1>
        <div class="flex">
            <!--
            {{range .LeadSponsors}}
            <a href={{.Link}}><img src="{{.ImgPath}}" alt="{{.Name}}" /></a>
            {{end}}
            -->
        </div>
    </div>
    <!--
     <div class="gold-sponsors sponsors-container flex">
        <h1>{{.Gold}}</h1>
        <hr>
        <div class="flex">
            {{range .GoldSponsors}}
            <a href={{.Link}}><img src="{{.ImgPath}}" alt="{{.Name}}" /></a>
            {{end}}
        </div>
    </div>
    <div class="silver-sponsors sponsors-container flex">
        <h1>{{.Silver}}</h1>
        <hr>
        <div class="flex">
            {{range .SilverSponsors}}
            <a href={{.Link}}><img src="{{.ImgPath}}" alt="{{.Name}}" /></a>
            {{end}}
        </div>
    </div>
    <div class="bronze-sponsors sponsors-container flex">
        <h1>{{.Bronze}}</h1>
        <hr>
        <div class="flex">
            {{range .BronzeSponsors}}
            <a href={{.Link}}><img src="{{.ImgPath}}" alt="{{.Name}}" /></a>
            <h2>{{.Name}}</h2>
            {{end}}
        </div>
    </div>
    -->
</div>
{{end}}
