{{define "content"}}
<div class="sponsors">
    <div class="lead-sponsors sponsors-container content-splash flex">
        <h1>LEAD SPONSORS</h1>
        <div class="flex">
            <img src="/resources/images/sponsors/lead/chevron.png" alt="Chevron" />
            <img src="/resources/images/sponsors/lead/dial.png" alt="Dial" />
            <img src="/resources/images/sponsors/lead/shell.png" alt="Shell" />
        </div>
    </div>
    <h1>GOLD SPONSORS</h1>
    <hr>
    <div class="gold-sponsors sponsors-container flex">
        <div class="flex">
            <img src="/resources/images/sponsors/gold/cloudian.png" alt="Cloudian" />
            <img src="/resources/images/sponsors/gold/mohawk.png" alt="Mohawk" />
            <img src="/resources/images/sponsors/gold/statoil.png" alt="Stat Oil" />
        </div>
    </div>
    <h1>SILVER SPONSORS</h1>
    <hr>
    <div class="silver-sponsors sponsors-container flex">
        <div class="flex">
            <img src="/resources/images/sponsors/silver/asus.png" alt="ASUS" />
            <img src="/resources/images/sponsors/silver/conocophillips.png" alt="Conoco Phillips" />
            <img src="/resources/images/sponsors/silver/csi.png" alt="CSI" />
        </div>
    </div>
    <h1>BRONZE SPONSORS</h1>
    <hr>
    <div class="bronze-sponsors sponsors-container flex">
        <div class="flex">
            <img src="/resources/images/sponsors/bronze/mcdonalds.png" alt="McDonalds" />
            <h2>Mcdonalds</h2>
            <img src="/resources/images/sponsors/bronze/husky.png" alt="Husky" />
            <h2>Husky Energy</h2>
        </div>
    </div>
</div>
{{end}}
