{{define "content"}}
<div class="uc-splash content-splash flex">
    <img src="/resources/images/uofc-placeholder.png" alt="UofC Crest" />
    <div class="splash-info uc-info">
        <p>
            This is a blurb about the university of calgary.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
            The quick brown fox jumps over the lazy dog.
        </p>
    </div>
</div>
<div class="uc-content flex">
    {{template "didyouknow"}}
    {{template "location"}}
</div>
{{end}}
