{{define "content"}}
<div class="uc-splash content-splash flex">
    <img src="/resources/images/uc-crest.png" alt="UofC Crest" />
    <div class="splash-info uc-info">
        <p>
            {{range .Blurb}}
               {{.}}<br><br>
            {{end}}
        </p>
    </div>
</div>
<div class="uc-content flex">
    <p class="mobile-splash-info">
        {{range .Blurb}}
           {{.}}<br><br>
        {{end}}
    </p>
    {{template "didyouknow"}}
    {{template "location" .}}
</div>
{{end}}
